# Sitio en Producción

# BEGIN WordPress
RewriteRule ^index\.php$ – [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

Read more: http://www.shoutmeloud.com/how-to-create-htaccess-file-for-wordpress-blog.html#ixzz2YriYNuEH 
Under Creative Commons License: Attribution No Derivatives
# END WordPress

# END

# Sitio Desarrollo
#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteBase /feriadelasflores/
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /feriadelasflores/index.php [L]
#</IfModule>
# END WordPress